name: main

on:
  push:
    branches:
      - 'main'

# env:
#   TEST_TAG: diabloboom/rss:test

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      # - name: Cache
      #   uses: docker/build-push-action@v6
      #   with:
      #     context: .
      #     load: true
      #     tags: ${{ env.TEST_TAG }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: diabloboom/rss:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Build and push caddy
        uses: docker/build-push-action@v6
        with:
          context: .
          file: services/caddy/Dockerfile
          push: true
          tags: diabloboom/rss-caddy:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
